<button mdbBtn type="button" color="primary" (click)="fileLoader.click()" outline="true" mdbWavesEffect>Select File</button>
<input type="file" style="display: none;" (change)="onFileChange($event)" multiple="false" #fileLoader>

<div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="custom-card" *ngFor="let mapImage of mapsImages" >
        <mdb-card>
            <mdb-card-body>
                <mdb-card-img [src]="mapImage" alt="Google Maps Static Image"></mdb-card-img>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>